.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modalvisit{
  width: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: solid 1px;
  border-color: rgb(56, 56, 67);
  backdrop-filter: blur(115px);
}
.visitform{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.modalvisit h1{
  margin: 0;
  padding: 15px;
  text-align: center;
}
.name,.room,.purpose,.place{
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  gap: 10px;
  text-align: center;
}
.department,.status,.work_status ,.classification{
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  gap: 10px;
  text-align: center;
}
#department,#work_status,#status{
  width: 100%;
  
}
 input{
  height: 30px;
  border: solid 1px;
  border-radius: 10px;
}
 select{
  height: 40px;
  border: solid 1px;
  border-radius: 10px;
}
 .buttons{
  display: flex;
  gap: 10px;
  padding: 15px;

}
.buttons button{
  padding: 10px 0;
  height: 50px;
  border-radius: 20px;
}
.cancel{
  background-color: red;
}
.update{
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: solid 1px;
  border-color: rgb(56, 56, 67);
  backdrop-filter: blur(115px);
}
.updateform{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.updateform h1{
  text-align: center;
}
.top{
  width: 100%;
  display: flex;
  align-items: center;
  
}
.top .name,.status,.department,.work_status,.location,.classification{
  width: 50%;
  text-align: left;
}

.search-bar{
  padding: 10px 10px;
}
.search-bar input{
  width: 300px;
  padding: 5px;
}

.download-table-xls-button{
  padding: 10px 10px;
  margin: 10px 10px;
}
.table-data {
  width: 100%;
  padding: 10px 0 10px 40px;
  height: 200px;
  overflow-y: auto;
}
.styled-table {
  width: 100%;
  padding: 10px 10px;
}
.styled-table th,
.styled-table td {
  padding: 10px 5px;
  border: 1px solid #940a0a;
}
.styled-table th {
  background-color: #007bff;
  color: #ffffff;
  position: sticky;
  top: 0;
}
button:disabled{
  background-color: red;
}