.dashboard{
    width: 100%;
}
.dashboard::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../images/Site-Thumbnail.webp);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
  }
.dashnav{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    opacity: .8;
}
.d-left{
    width: 25%;
}
.d-left img{
    width: 100%;
    filter: brightness(1.5);
}
.d-right a{
    color: white;
}
.dash{

    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.employee, .rooms, .visitor{
    display: flex;
    flex-direction: column;

    /* background-color: rgba(255, 255, 255, 0.596); */
}

.employee, .rooms, .visitor {

width: 573px;
height: 674px;
background-color: aliceblue;


}

.icon-employ{

    display: flex;
    align-items: center;
    background-color: #e7e7e7;
    justify-content: center;
    width: 159px;
    height: 159px;
    border-radius: 1rem;
    border-color: 2px #0140B1;
}

.icon-employee-cont{

    display: flex;
    margin: 5%;
  
}

.employ-title-desc{

    margin-left: 5%;
    
    font-size: px;
    font-family: 'Lato';
}

.rooms .title{
    background-image: url(../../images/door-key.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.visitor .title{
    background-image: url(../../images/user.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.dash .title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 20px;
    border-radius: 20px;
    background-color: white;
    margin: 0;
    padding: 0;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
    gap: 20px;
    color: white;
}
.dash .links button{
    padding: 20px 10px ;
    width: 200px;
    color: rgb(0, 0, 0);
    background-color: white;
    border: solid black 1px;
}