.dashboard{
    width: 100%;
}


.dashboard::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url(../../images/Site-Thumbnail.webp); */
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
  }
.dashnav{
    background-color: #013fe8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    opacity: .8;
}
.d-left{
    width: 25%;
}
.d-left img{
    width: 100%;
    filter: brightness(1.5);
}


.d-right {
    font-weight: 500;
    color: white;
    background-color: #ffffff;
    width: 227px;
    height: 67px;
    border-radius: 0.682rem;
}
.dash{
    overflow: hidden;
    height: 90vh;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}



.employee, .rooms, .visitor {

width: 573px;
height: 674px;
background-color: rgb(234, 245, 255);
border-radius: 1rem;


}

.employee{

        
}

.icon-employ{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 159px;
    height: 159px;
    border-radius: 1rem;
    border: 2px solid #2077E7;
}


.nav-links-container{
    
    margin-top: 10% ;
   display: grid;
   align-items: center;
   justify-content: center;
 
   width: 100%;
   
}

.click-btn{
    text-transform: uppercase;
    font-size: 19px;
    width: 400px;
    height: 80px;
}
.BUTTONS{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.btn-containers{
    display: block;
    align-items: center;
    justify-content: center;
    
}
/* .btn-links{

    width: 400px;
    height: 80px;
    margin: 5%;
} */
.dashboard h1{
    font-size: 45px;
}
.dashboard p{
    font-size: 15px;
}
.icon-employee-cont{

    display: flex;
 
    width: 520px;
   
    padding: 20px 15px;
   
    
}


.title-desc{

    font-size: 15px;
    width: 300px;
}
.employ-title-desc{
    margin-top: -30px;
    margin-left: 5%;
    width: 200px;
/* background-color: aqua; */
    font-family: 'Lato';
}

.rooms .title{
    background-image: url(../../images/door-key.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.visitor .title{
    background-image: url(../../images/user.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.dash .title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 20px;
    border-radius: 20px;
    background-color: white;
    margin: 0;
    padding: 0;
}


.dash-right{

    width: 227px;
    height: 67px;
    background-color: #ffffff;
    border-radius: 0.525rem;
}

.SignOutBtn, .dash-right{

    display: flex;
    align-items: center;
    justify-content: center;
  
    text-decoration: none;
    color: #1d1d1f;
    font-size: 24px;
    margin-right: 0.5%;
}


.modalvisit{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5); /* Change the opacity value or color as needed */
    backdrop-filter: blur(10px);
  }
  .visitform-img{

    display: flex;
    justify-content: center;
  
  }
.form-name{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 500px;
    gap: 10px;
}
.form-name input{
    width: 480px;
}
  .visitform-img img{

    width: 150px;
    height: 150px;
    margin-top:15%;

    object-fit: contain;
  }

  .frm-title{
    gap: 10px;
  }

  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Change the opacity value or color as needed */
    backdrop-filter: blur(10px); /* This will add a blur effect, adjust as needed */
  }